In [4]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv('IMDB Dataset.csv')

In [6]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [7]:
#lets look at one review
df['review'][0]

"One of the other reviewers has mentioned that after watching just 1 Oz episode you'll be hooked. They are right, as this is exactly what happened with me.<br /><br />The first thing that struck me about Oz was its brutality and unflinching scenes of violence, which set in right from the word GO. Trust me, this is not a show for the faint hearted or timid. This show pulls no punches with regards to drugs, sex or violence. Its is hardcore, in the classic use of the word.<br /><br />It is called OZ as that is the nickname given to the Oswald Maximum Security State Penitentary. It focuses mainly on Emerald City, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. Em City is home to many..Aryans, Muslims, gangstas, Latinos, Christians, Italians, Irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.<br /><br />I would say the main appeal of the show is due to the fact that it goes where other shows wouldn't dare. Forget pretty pictures painted for mainstream audiences, forget charm, forget romance...OZ doesn't mess around. The first episode I ever saw struck me as so nasty it was surreal, I couldn't say I was ready for it, but as I watched more, I developed a taste for Oz, and got accustomed to the high levels of graphic violence. Not just violence, but injustice (crooked guards who'll be sold out for a nickel, inmates who'll kill on order and get away with it, well mannered, middle class inmates being turned into prison bitches due to their lack of street skills or prison experience) Watching Oz, you may become comfortable with what is uncomfortable viewing....thats if you can get in touch with your darker side."

In [8]:
df['review'][3]

"Basically there's a family where a little boy (Jake) thinks there's a zombie in his closet & his parents are fighting all the time.<br /><br />This movie is slower than a soap opera... and suddenly, Jake decides to become Rambo and kill the zombie.<br /><br />OK, first of all when you're going to make a film you must Decide if its a thriller or a drama! As a drama the movie is watchable. Parents are divorcing & arguing like in real life. And then we have Jake with his closet which totally ruins all the film! I expected to see a BOOGEYMAN similar movie, and instead i watched a drama with some meaningless thriller spots.<br /><br />3 out of 10 just for the well playing parents & descent dialogs. As for the shots with Jake: just ignore them."

In [9]:
# Text Cleaning

# Sample 10000 rows : working on only 10,000 rows to train easily.
# Remove html tags
# Remove special characters
# Convert to lower case
# Removing Stop Words : words like "and" , "is , "are" , etc
# Stemming : fetch only the root word and eliminate all other words that are similar to it.

In [10]:
df = df.sample(10000)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 15390 to 37479
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     10000 non-null  object
 1   sentiment  10000 non-null  object
dtypes: object(2)
memory usage: 234.4+ KB

In [12]:
df['sentiment'].replace({'positive' : 1 , 'negative' : 0} , inplace = True)

In [13]:
df.head()

                                                  review  sentiment
15390  This is simply a good ole fashioned western..n...          1
9493   This has to be one of the most beautiful, movi...          1
27425  Bring Back The A-team was a hour- long special...          1
20053  It is an almost ideal romantic anime! MUST SEE...          1
18931  Jeremy Northam's characterization of the stutt...          1

In [14]:
import re #regular expressions library to remove all the html tags
clean = re.compile('<.*?>')
re.sub(clean , "",df.iloc[2].review)

"Bring Back The A-team was a hour- long special screened on Channel 4 in the UK of last year and hosted by presenter and comedian Justin Lee Collins, the show attempted to track down and reunite the fellow cast members of the A-Team together, for the first time ever on TV. This has been something which has never been attempted before by anyone. Well, not by anyone that I know of, that is.Justin makes a great presenter, and his eccentric personality and humorous banter shone throughout this programme. The attempts he makes in getting hold of the cast members is ever so funny, but also he was very persistent and eager to fulfil this task too, which is a credit to him i'd say. Mind you, he is great on TV anyway- be it by presenting a show such as this, or the Friday Night Project with his co-host, Alan Carr.There were appearances and interviews with Dirk Benedict- the Faceman himself, Dwight Schultz- aka Howling Mad Murdock, Marla Heasley who played Tawnia Baker, Jack Ging aka General 'Bull' Full Bright, the creator of the A-team, Stephen J Cannell and the big man himself, Mr T aka BA Baracus. They were just fascinating to watch and hear what they had to say about the programme that became a global hit during the 80s, as they reminisce and relive the good and bad moments of the show: both during and behind the scenes. Unfortunately, no George Peppard but of course he is already in heaven, understandably and strangely enough no Melinda, who played Amy.I just didn't understand why she wasn't featured in the show. Okay, she was axed after 3 seasons or whatever, but she was the first and original female member of the A-Team- only to be replaced Marla's Tawnia and so it would've been great to see and hear her side to the A-team story, in addition to the other cast members.All in all, Bring Back The A-Team was a great documentary style of show. Perhaps, this could've been spread out more by means of which this could've been a six-part documentary. But nonetheless, this was a great effort on the part of JLC. Recommended"

In [15]:
#function to clean html tags

def clean_html(text):
    clean = re.compile('<.*?>')
    return re.sub(clean , "", text)

In [16]:
df['review'] = df['review'].apply(clean_html)

In [17]:
#converting all the text to lower case

def convert_lower(text):
    return text.lower()

In [18]:
df['review'] = df['review'].apply(convert_lower)

In [19]:
#function to remove special characters

def remove_special(text):
    x = ''
    
    for i in text:
        if i.isalnum():
            x = x+i
        else:
            x = x+ ' '
    return x

In [20]:
#checking the remove_special function

remove_special(' thw class%ic use of pand@s is amazing!!')

' thw class ic use of pand s is amazing  '

In [21]:
df['review'] = df['review'].apply(remove_special)

In [22]:
#remove the stopwords

import nltk   #natural language toolkit
from nltk.corpus import stopwords

In [23]:
df

                                                  review  sentiment
15390  this is simply a good ole fashioned western  n...          1
9493   this has to be one of the most beautiful  movi...          1
27425  bring back the a team was a hour  long special...          1
20053  it is an almost ideal romantic anime  must see...          1
18931  jeremy northam s characterization of the stutt...          1
...                                                  ...        ...
38308  this pathetic excuse for a movie doesn t have ...          0
37400  half a mystical thriller and half the fracture...          0
1719   when i was young  i was a big fan of the naked...          1
31220  this film is horrible  bad acting  bad writing...          0
37479  offbeat and rather entertaining sleeper concer...          1

[10000 rows x 2 columns]

In [26]:
#to see all the existing stopwords in the data
nltk.download('stopwords')

stopwords.words('english')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\AhmadDrobi\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [27]:
def remove_stopwords(text):
    x=[]
    for i in text.split():   #splitting the words from the and converting in a list
        
        if i not in stopwords.words('english'):  #only those words will append in the list which are not in stopwords
            x.append(i)
    y = x[:] #sending all the data of x into y
    x.clear() #clearing x for the next review
    return y

In [28]:
df['review'] = df['review'].apply(remove_stopwords)

In [29]:
df

                                                  review  sentiment
15390  [simply, good, ole, fashioned, western, overly...          1
9493   [one, beautiful, moving, thought, provoking, f...          1
27425  [bring, back, team, hour, long, special, scree...          1
20053  [almost, ideal, romantic, anime, must, see, ag...          1
18931  [jeremy, northam, characterization, stuttering...          1
...                                                  ...        ...
38308  [pathetic, excuse, movie, decent, structure, s...          0
37400  [half, mystical, thriller, half, fractured, fa...          0
1719   [young, big, fan, naked, gun, movies, recently...          1
31220  [film, horrible, bad, acting, bad, writing, ba...          0
37479  [offbeat, rather, entertaining, sleeper, conce...          1

[10000 rows x 2 columns]

In [30]:
#perform stemming

from nltk.stem.porter import PorterStemmer

ps = PorterStemmer()

In [31]:
y=[]
def stem_words(text):
    for i in text:
        y.append(ps.stem(i))
    z=y[:]
    y.clear()
    return z

In [32]:
df['review'] = df['review'].apply(stem_words)

In [33]:
#joining back the words

def join_back(list_input):
    return " ".join(list_input)

In [34]:
df['review'] = df['review'].apply(join_back)

In [35]:
df['review']

15390    simpli good ole fashion western overli complex...
9493     one beauti move thought provok film around goo...
27425    bring back team hour long special screen chann...
20053    almost ideal romant anim must see age english ...
18931    jeremi northam character stutter mild manner b...
                               ...
38308    pathet excus movi decent structur sensibl clos...
37400    half mystic thriller half fractur fantasi frag...
1719     young big fan nake gun movi recent watch show ...
31220    film horribl bad act bad write bad music horri...
37479    offbeat rather entertain sleeper concern two d...
Name: review, Length: 10000, dtype: object

In [36]:
x = df.iloc[:,0:1].values

In [37]:
x.shape

(10000, 1)

In [38]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features = 1000) 
#max_features helps in increasing the accuracy of the model, as it takes only this many words for training the model.

In [39]:
x = cv.fit_transform(df['review']).toarray()

In [40]:
x.shape

(10000, 1000)

In [41]:
#checking : some word has been repeated 9 times

x[899].max()

15

In [42]:
y = df.iloc[:,-1].values

In [43]:
y

array([1, 1, 1, ..., 1, 0, 1], dtype=int64)

In [44]:
y.shape

(10000,)

In [45]:
#training set 
#testing set

from sklearn.model_selection import train_test_split

x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2 , random_state=2)

In [46]:
x_train.shape

(8000, 1000)

In [47]:
x_test.shape

(2000, 1000)

In [48]:
y_train.shape

(8000,)

In [49]:
y_test.shape

(2000,)

In [50]:
from sklearn.naive_bayes import GaussianNB , MultinomialNB , BernoulliNB

In [51]:
clf1 = GaussianNB()
clf2 = MultinomialNB()
clf3 = BernoulliNB()

In [52]:
clf1.fit(x_train , y_train)
clf2.fit(x_train , y_train)
clf3.fit(x_train , y_train)

BernoulliNB()

In [53]:
y_pred1 = clf1.predict(x_test)
y_pred2 = clf2.predict(x_test)
y_pred3 = clf3.predict(x_test)

In [54]:
from sklearn.metrics import accuracy_score

print('Gaussian' , accuracy_score(y_test , y_pred1))
print('Multinomial' , accuracy_score(y_test , y_pred2))
print('Bernoulli' , accuracy_score(y_test , y_pred3))

Gaussian 0.7975
Multinomial 0.837
Bernoulli 0.8305

In [55]:
#  select Bernoulli Naive Bayes model for the movie review Sentiment analysis

In [58]:

Bernoulli = pd.DataFrame(y_pred3)

# Save the DataFrame as a CSV file
Bernoulli.to_csv('my_Bernoulli.csv', index=False)